.third-section .section-heading {
    color: #6c7bff;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 24px;
  }

  .third-section .section-title {
    color: #262e62;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }

  .third-section .service-box {
    text-align: left;
    transition: all 0.3s ease-in-out;
    padding: 10px;
  }

  .third-section .service-box:hover {
    transform: translateY(-5px);
  }

  .third-section .icon-wrap {
    width: 55px;
    height: 55px;
    background-color: #f2f5ff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }

  .third-section .service-icon {
    width: 30px;
    height: 30px;
  }

  .third-section .bg-circle {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(10, 14, 63,0.09);
    z-index: -1;
  }

  .third-section .bg-left {
    top: -160px;
    left: -30px;
    width: 250px;
    height: 250px;
  }

  .third-section .bg-right {
    bottom: 30px;
    right: -100px;
    width: 250px;
    height: 250px;
  }

  @media (max-width: 768px) {
      .third-section .section-title {
      font-size: 1.5rem;
    }
  }